templates/instagram-post/workflow.json
{
  "format": "n8n-claw-template",
  "format_version": 1,
  "sub": {
    "name": "MCP Sub: Instagram Post",
    "settings": {
      "executionOrder": "v1",
      "callerPolicy": "workflowsFromSameOwner"
    },
    "nodes": [
      {
        "id": "sub-trigger",
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [0, 0],
        "parameters": {
          "inputSource": "passthrough"
        }
      },
      {
        "id": "sub-code",
        "name": "Instagram Post",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [256, 0],
        "parameters": {
          "jsCode": "const input = $input.first().json;\nconst tool = input.tool || 'create_instagram_post';\nconst baseUrl = '{{SUPABASE_URL}}';\nconst serviceKey = '{{SUPABASE_SERVICE_KEY}}';\nconst pgHeaders = {\n  'apikey': serviceKey,\n  'Authorization': 'Bearer ' + serviceKey,\n  'Content-Type': 'application/json'\n};\n\n// Load credentials\nconst creds = await helpers.httpRequest({\n  method: 'GET',\n  url: baseUrl + '/rest/v1/template_credentials?template_id=eq.instagram-post&select=cred_key,cred_value',\n  headers: pgHeaders\n});\n\nconst credMap = {};\nfor (const c of (creds || [])) credMap[c.cred_key] = c.cred_value;\n\nif (tool === 'schedule_post') {\n  const caption = input.caption;\n  const imageUrl = input.image_url;\n  const scheduledAt = input.scheduled_at;\n\n  if (!caption) return [{ json: { error: 'Caption ist erforderlich.' } }];\n  if (!scheduledAt) return [{ json: { error: 'scheduled_at ist erforderlich (ISO 8601 oder natürliche Sprache).' } }];\n\n  // Insert into scheduled_posts\n  const result = await helpers.httpRequest({\n    method: 'POST',\n    url: baseUrl + '/rest/v1/scheduled_posts',\n    headers: { ...pgHeaders, 'Prefer': 'return=representation' },\n    body: JSON.stringify({\n      platform: 'instagram',\n      caption: caption,\n      image_url: imageUrl || null,\n      scheduled_at: scheduledAt,\n      status: 'pending',\n      created_by: 'agent'\n    })\n  });\n\n  const post = result[0];\n  return [{ json: { result: 'Post geplant für ' + scheduledAt + ' (ID: ' + post.id + ')' } }];\n}\n\n// create_instagram_post\nconst token = credMap.instagram_token;\nconst userId = credMap.instagram_user_id;\n\nif (!token || !userId) {\n  return [{ json: { error: 'Instagram-Credentials nicht konfiguriert. Bitte Token und User-ID über Credential-Flow eingeben.' } }];\n}\n\nconst imageUrl = input.image_url;\nconst caption = input.caption;\n\nif (!imageUrl) return [{ json: { error: 'image_url ist erforderlich.' } }];\nif (!caption) return [{ json: { error: 'caption ist erforderlich.' } }];\n\ntry {\n  // Step 1: Create media container\n  const container = await helpers.httpRequest({\n    method: 'POST',\n    url: 'https://graph.facebook.com/v21.0/' + userId + '/media',\n    body: {\n      image_url: imageUrl,\n      caption: caption,\n      access_token: token\n    }\n  });\n\n  if (!container.id) {\n    return [{ json: { error: 'Container-Erstellung fehlgeschlagen: ' + JSON.stringify(container) } }];\n  }\n\n  // Step 2: Wait for container to be ready (poll status)\n  let ready = false;\n  for (let i = 0; i < 10; i++) {\n    const status = await helpers.httpRequest({\n      method: 'GET',\n      url: 'https://graph.facebook.com/v21.0/' + container.id + '?fields=status_code&access_token=' + token\n    });\n    if (status.status_code === 'FINISHED') { ready = true; break; }\n    if (status.status_code === 'ERROR') {\n      return [{ json: { error: 'Container-Fehler: ' + JSON.stringify(status) } }];\n    }\n    // Wait 2 seconds\n    await new Promise(r => setTimeout(r, 2000));\n  }\n\n  if (!ready) return [{ json: { error: 'Container nicht bereit nach 20 Sekunden.' } }];\n\n  // Step 3: Publish\n  const publish = await helpers.httpRequest({\n    method: 'POST',\n    url: 'https://graph.facebook.com/v21.0/' + userId + '/media_publish',\n    body: {\n      creation_id: container.id,\n      access_token: token\n    }\n  });\n\n  // Step 4: Get permalink\n  let permalink = '';\n  try {\n    const media = await helpers.httpRequest({\n      method: 'GET',\n      url: 'https://graph.facebook.com/v21.0/' + publish.id + '?fields=permalink&access_token=' + token\n    });\n    permalink = media.permalink || '';\n  } catch(e) { /* non-critical */ }\n\n  return [{ json: {\n    result: 'Instagram-Post veröffentlicht!',\n    post_id: publish.id,\n    permalink: permalink\n  } }];\n} catch(e) {\n  return [{ json: { error: 'Instagram API Fehler: ' + e.message } }];\n}"
        }
      }
    ],
    "connections": {
      "Execute Workflow Trigger": {
        "main": [[{ "node": "Instagram Post", "type": "main", "index": 0 }]]
      }
    }
  },
  "server": {
    "name": "MCP: Instagram Post",
    "settings": {
      "executionOrder": "v1"
    },
    "nodes": [
      {
        "id": "mcp-trigger",
        "name": "MCP Server Trigger",
        "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
        "typeVersion": 2,
        "position": [0, 0],
        "parameters": {
          "path": "instagram-post"
        }
      },
      {
        "id": "tool-post",
        "name": "create_instagram_post",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [0, 300],
        "parameters": {
          "name": "create_instagram_post",
          "description": "Create and publish an Instagram post. Parameters: image_url (public URL of image), caption (post text with hashtags)",
          "workflowId": {
            "__rl": true,
            "value": "REPLACE_SUB_WORKFLOW_ID",
            "mode": "id"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "tool": "create_instagram_post",
              "image_url": "={{ $fromAI('image_url', 'Public URL of the image to post', 'string') }}",
              "caption": "={{ $fromAI('caption', 'Post caption with hashtags', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "tool", "displayName": "tool", "type": "string", "required": true },
              { "id": "image_url", "displayName": "image_url", "type": "string", "required": true },
              { "id": "caption", "displayName": "caption", "type": "string", "required": true }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-schedule",
        "name": "schedule_post",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [300, 300],
        "parameters": {
          "name": "schedule_post",
          "description": "Schedule a post for later. Parameters: caption (text), image_url (optional), scheduled_at (ISO 8601 datetime)",
          "workflowId": {
            "__rl": true,
            "value": "REPLACE_SUB_WORKFLOW_ID",
            "mode": "id"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "tool": "schedule_post",
              "caption": "={{ $fromAI('caption', 'Post caption', 'string') }}",
              "image_url": "={{ $fromAI('image_url', 'Public image URL (optional)', 'string') }}",
              "scheduled_at": "={{ $fromAI('scheduled_at', 'Scheduled publication time in ISO 8601', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "tool", "displayName": "tool", "type": "string", "required": true },
              { "id": "caption", "displayName": "caption", "type": "string", "required": true },
              { "id": "image_url", "displayName": "image_url", "type": "string", "required": false },
              { "id": "scheduled_at", "displayName": "scheduled_at", "type": "string", "required": true }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        }
      }
    ],
    "connections": {
      "create_instagram_post": {
        "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]]
      },
      "schedule_post": {
        "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]]
      }
    }
  }
}
